[user]
	email = brianxie@mit.edu
	name = xiebrian
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = auto
[alias]
    graph = log --graph --oneline --decorate --color --all
[credential]
    helper = store
[push]
    default = matching
